.bottom-right-image {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px; /* Ajustez la taille selon vos besoins */
    height: auto; /* Conserve les proportions de l'image */
}
