.btn-gradient-logo {
  background: #18eaf1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(145deg, #c731e6, #18eaf1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(145deg, #c731e6, #18eaf1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-weight: bold;
  border: 3px solid #eee;
}

.btn-gradient-logo:hover {
  color: #fff;
}